    .group-1171276977 .rectangle-24 {
    border-radius: 100px;
    background: #000000;
    position: absolute;
    left: 50%;
    bottom: 12px;
    translate: -50% 0;
    width: 134px;
    height: 5px;
  }
  .group-1171276977 .vector-3 {
    margin: 0 7.6px 6px 6.6px;
    width: 17px;
    height: 17px;
  }
   .group-1171276977 .home {
    overflow-wrap: break-word;
    font-family: 'Open Sans';
    font-weight: 700;
    font-size: 9px;
    letter-spacing: 0.4px;
    text-transform: uppercase;
    color: #202244;
  }
  
   .group-1171276977 .fill-1 {
    margin: 0 3.9px 5px 3.9px;
    width: 18px;
    height: 20px;
  }
  .my-courses {
    overflow-wrap: break-word;
    font-family: 'Open Sans';
    font-weight: 700;
    font-size: 9px;
    letter-spacing: 0.4px;
    text-transform: uppercase;
    color: #202244;
  }
  .group-1171276977 .container-4 {
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
  }
  
  .group-11712769911{
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  .st-july-20241{
    font-size: 12px;
    color: #848484;
  }
  
  .group-1171276977 .container{
    display: flex;
  }
  
  .group-1171276977 .profile-container {
    display: flex;
    justify-content: center;
    align-items: center;
   
  }
  
  .profile-image {
    width: 50px; /* Adjust size as needed */
    height: 50px; /* Adjust size as needed */
    border-radius: 50%;
    border: 2px solid #000; /* Optional: Add border */
    object-fit: cover; /* Ensure the image covers the area */
  }
  
  
  .group-1171276977 .container-3 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
  }
   .huge-iconinterfaceoutlinehome-04 {
    width: 24px;
    height: 24px;
  }
   .group-1171276977 .group-1171276972 {
    border-radius: 23px;
    background: #F18231;
    position: relative;
    
    display: flex;
    padding: 11px;
    width: 46px;
    height: 46px;
    box-sizing: border-box;
  }
   .huge-iconuseroutlineuser-circle {
    margin: 0 12.5px 5px 12.5px;
    width: 20px;
    height: 20px;
  }
   .transaction {
    overflow-wrap: break-word;
    font-family: 'Open Sans';
    font-weight: 700;
    font-size: 9px;
    letter-spacing: 0.4px;
    text-transform: uppercase;
    color: #202244;
  }
  .group-1171276977 .container-7 {
    margin: 5px 31.9px 4px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
  }
   .group-1171276977 .fill-11 {
    margin: 0 11.6px 5px 11.6px;
    width: 16px;
    height: 20px;
  }
  
  .container-5 {
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
  }
  .group-1171276977 .container-2 {
    box-shadow: 0px -3px 19.2px 0px rgba(45, 94, 100, 0.15);
    background: #FFFFFF;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px;
    width: 100%;
    height: fit-content;
    box-sizing: border-box;
  }
 .group-1171276977  .group-1171276977 {
    position: relative;
    width: 100%;
    box-sizing: border-box;
  }
  
  .container-1{
      margin: 5px 31.9px 4px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
}
  .profile{
          overflow-wrap: break-word;
    font-family: 'Open Sans';
    font-weight: 700;
    font-size: 9px;
    letter-spacing: 0.4px;
    text-transform: uppercase;
    color: #202244;
  }
  
  .group-1171276977 span{
    overflow-wrap: break-word;
    font-family: 'Open Sans';
    font-weight: 700;
    font-size: 9px;
    letter-spacing: 0.4px;
    text-transform: uppercase;
    color: #202244;
  }
  
   .group-1171276977 img{
    margin: 0 7.6px 6px 6.6px;
    width: 17px;
    height: 17px;
  }
  
   .container-8{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  
  
  
  
  
  
  
  
  
  
  body{
    font-family: poppins;
  }
  
  
  .container-6 {
    display: flex;
    gap: 20px;
  }
  
  .tab {
    cursor: pointer;
    padding: 10px;
    position: relative;
  }
  
  .tab:hover{
    color: #F18231;
  }
  
  .tab.active::after {
    content: '';
    display: block;
    width: 100%;
    height: 2px;
    color: #F18231;
    background: orange;
    position: absolute;
    bottom: 0;
    left: 0;
  }
  
  .content {
    display: none;
    margin-top: 20px;
    
  }
  
  .content.active {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    gap: 20px;
  }
  
  
  .container-16{
    display: flex;
     justify-content: center;
    align-items: center;
   
  }
  
  .reviews{
    font-size: 24px;
    font-weight: 700;
  }
  
  .group-1171276992{
    padding: 20px;
    border: 1px solid gray;
    border-radius: 20px;
  }
  
  a{
    text-decoration: none;
    color: inherit;
  }