.cart-screen .container-5 {
  width: 28.4px;
  height: 11.1px;
}
.cart-screen .time-light {
  border-radius: 20px;
  margin: 1px 0 1.9px 0;
  
  display: flex;
  width: 54px;
  height: 21px;
  box-sizing: border-box;
}
.cart-screen .network-signal-light {
  margin-right: 4px;
  width: 20px;
  height: 14px;
}
.cart-screen .wi-fi-signal-light {
  margin-right: 4px;
  width: 16px;
  height: 14px;
}
.cart-screen .battery-light {
  width: 25px;
  height: 14px;
}
.cart-screen .status-icons {
  display: flex;
  flex-direction: row;
  width: 69px;
  box-sizing: border-box;
}
.cart-screen .status-bar {
  margin: 0 14px 19px 35px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: calc(100% - 49px);
  box-sizing: border-box;
}
.cart-screen .vector-18 {
  opacity: 0.997;
  width: 16.6px;
  height: 2.8px;
}
.cart-screen .group-1 {
  margin-bottom: 3px;
  display: flex;
  width: 16.6px;
  height: 2.8px;
  box-sizing: border-box;
}
.cart-screen .vector-19 {
  opacity: 0.997;
  width: 16.6px;
  height: 2.8px;
}
.cart-screen .group-2 {
  margin-bottom: 3px;
  display: flex;
  width: 16.6px;
  height: 2.8px;
  box-sizing: border-box;
}
.cart-screen .vector-20 {
  opacity: 0.997;
  width: 16.6px;
  height: 2.8px;
}
.cart-screen .group-3 {
  display: flex;
  width: 16.6px;
  height: 2.8px;
  box-sizing: border-box;
}
.cart-screen .group-1171276968 {
  margin: 10px 0 2.6px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 16.6px;
  height: fit-content;
  box-sizing: border-box;
}
.cart-screen .book-name {
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 700;
  font-size: 18px;
  line-height: 1.519;
  color: #000000;
}
.cart-screen .container-7 {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 230.6px;
  height: fit-content;
  box-sizing: border-box;
}
.cart-screen .vector-24 {
  width: 6.5px;
  height: 15.8px;
}
.cart-screen .arrow-left {
  position: absolute;
  left: 7.2px;
  top: 5.1px;
  display: flex;
  width: 22px;
  height: 24px;
  box-sizing: border-box;
}
.cart-screen .container-10 {
  position: relative;
  margin: 0 20px 35px 20px;
  display: flex;
  align-self: flex-start;
  width: 230.6px;
  box-sizing: border-box;
}
.cart-screen .rectangle-336 {
  border-radius: 7px;
  background: url('../assets/images/rectangle_336.png') 50% / cover no-repeat;
  margin-right: 21px;
  width: 108px;
  height: 138px;
}
.cart-screen .book-name-1 {
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 600;
  font-size: 20px;
  color: #000000;
}
.cart-screen .category-cat {
  margin: 0 17.4px 6px 0;
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 600;
  font-size: 14px;
  color: #727272;
}
.category-cat-sub9 {
  font-family: 'Poppins';
  font-weight: 400;
  font-size: 14px;
  line-height: 1.333;
}
.category-cat {
  font-family: 'Poppins';
  font-weight: 400;
  font-size: 14px;
  line-height: 1.333;
}
.cart-screen .star-1 {
  margin-right: 3.1px;
  width: 13px;
  height: 13px;
}
.cart-screen .star-2 {
  margin-right: 2.3px;
  width: 13px;
  height: 13px;
}
.cart-screen .star-3 {
  margin-right: 2.3px;
  width: 13px;
  height: 13px;
}
.cart-screen .star-4 {
  margin-right: 2.3px;
  width: 13px;
  height: 13px;
}
.cart-screen .star-5 {
  width: 13px;
  height: 13px;
}
.cart-screen .group-1171276976 {
  margin-bottom: 23px;
  display: flex;
  flex-direction: row;
  align-self: flex-start;
  width: 74.9px;
  box-sizing: border-box;
}
.cart-screen .container-1 {
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 600;
  font-size: 20px;
  color: #000000;
}
.cart-screen .group-1171276994 {
  margin: 8px 0 7px 0;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.cart-screen .container-9 {
  margin: 0 20px 35px 20px;
  display: flex;
  flex-direction: row;
  align-self: flex-start;
  width: fit-content;
  box-sizing: border-box;
}
.cart-screen .book-price {
  margin-right: 10.5px;
  width: 72px;
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 400;
  font-size: 14px;
  color: var(--color-ui-2, #1B2028);
}
.cart-screen .container-3 {
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 600;
  font-size: 14px;
  color: var(--color-ui-2, #1B2028);
}
.cart-screen .container-14 {
  margin: 0 20.7px 14px 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: calc(100% - 40.7px);
  box-sizing: border-box;
}
.cart-screen .shipping-fee {
  margin-right: 10.5px;
  width: 90px;
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 400;
  font-size: 14px;
  color: var(--color-ui-2, #1B2028);
}
.cart-screen .container-2 {
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 600;
  font-size: 14px;
  color: var(--color-ui-2, #1B2028);
}
.cart-screen .container-13 {
  margin: 0 20px 15px 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: calc(100% - 40px);
  box-sizing: border-box;
}
.cart-screen .line-4 {
  background: #EDEDED;
  margin: 0 20px 16px 20px;
  width: 350px;
  height: 0px;
}
.cart-screen .sub-total {
  margin-right: 10.5px;
  width: 65px;
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 400;
  font-size: 14px;
  color: var(--color-ui-2, #1B2028);
}
.cart-screen .container-4 {
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 600;
  font-size: 14px;
  color: var(--color-ui-2, #1B2028);
}
.cart-screen .container-16 {
  margin: 0 20.7px 24px 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: calc(100% - 40.7px);
  box-sizing: border-box;
}
.cart-screen .first-name {
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 400;
  font-size: 14px;
  color: #9B9B9B;
}
.cart-screen .group-1171277000 {
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.19);
  background: #FFFFFF;
  position: relative;
  margin-right: 14px;
  padding: 11px 17px;
  flex-grow: 1;
  flex-basis: 168px;
  box-sizing: border-box;
}
.cart-screen .last-name {
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 400;
  font-size: 14px;
  color: #9B9B9B;
}
.cart-screen .group-1171277001 {
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.19);
  background: #FFFFFF;
  position: relative;
  padding: 11px 17px;
  flex-grow: 1;
  flex-basis: 168px;
  box-sizing: border-box;
}
.cart-screen .group-1171277002 {
  border-radius: 10px;
  margin: 0 20px 10px 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: calc(100% - 40px);
  box-sizing: border-box;
}
.cart-screen .mobile-number {
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 400;
  font-size: 14px;
  color: #9B9B9B;
}
.cart-screen .group-1171276999 {
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.19);
  background: #FFFFFF;
  position: relative;
  margin: 0 20px 10px 20px;
  padding: 11px 17px;
  width: calc(100% - 40px);
  box-sizing: border-box;
}
.cart-screen .email {
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 400;
  font-size: 14px;
  color: #9B9B9B;
}
.cart-screen .group-1171276998 {
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.19);
  background: #FFFFFF;
  position: relative;
  margin: 0 20px 10px 20px;
  padding: 11px 17px;
  width: calc(100% - 40px);
  box-sizing: border-box;
}
.cart-screen .zip-code {
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 400;
  font-size: 14px;
  color: #9B9B9B;
}
.cart-screen .group-1171276997 {
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.19);
  background: #FFFFFF;
  position: relative;
  margin: 0 20px 10px 20px;
  padding: 11px 17px;
  width: calc(100% - 40px);
  box-sizing: border-box;
}
.cart-screen .address {
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 400;
  font-size: 14px;
  color: #9B9B9B;
}
.cart-screen .group-1171276996 {
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.19);
  background: #FFFFFF;
  position: relative;
  margin: 0 20px 20px 20px;
  padding: 11px 17px;
  width: calc(100% - 40px);
  box-sizing: border-box;
}
.cart-screen .select-apayment-method {
  margin-bottom: 20.1px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 600;
  font-size: 15px;
  color: #000000;
}
.cart-screen .vector-22 {
  width: 20px;
  height: 20px;
}
.cart-screen .tick-circle {
  margin: 2.9px 0 2px 0;
  display: flex;
  width: 24px;
  height: 24px;
  box-sizing: border-box;
}
.cart-screen .group {
  width: 21.1px;
  height: 24.9px;
}
.cart-screen .paypal-svgrepo-com-1 {
  margin: 0 23px 0px 0;
  display: flex;
  width: 25px;
  height: 25px;
  box-sizing: border-box;
}
.cart-screen .paypal {
  margin-top: 0.9px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: #000000;
}
.cart-screen .container-1 {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}
.cart-screen .group-1171276981 {
  margin: 0 2px 20px 2px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-self: flex-start;
  width: 159px;
  box-sizing: border-box;
}
.cart-screen .ellipse-14 {
  border-radius: 8px;
  margin: 9px 33px 8px 0;
  width: 16px;
  height: 16px;
}
.cart-screen .mastercard-full-svgrepo-com-2 {
  margin-right: 17px;
  width: 33px;
  height: 33px;
}
.cart-screen .container {
  margin: 5px 0 4px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: #000000;
}
.cart-screen .group-1171276980 {
  margin-bottom: 20px;
  display: flex;
  flex-direction: row;
  width: fit-content;
  box-sizing: border-box;
}
.cart-screen .ellipse-15 {
  border-radius: 8px;
  margin: 9px 32px 9px 0;
  width: 16px;
  height: 16px;
}
.cart-screen .google-pay-svgrepo-com-1 {
  margin-right: 17px;
  width: 34px;
  height: 34px;
}
.cart-screen .google {
  margin: 5px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: #000000;
}
.cart-screen .group-1171276979 {
  margin-bottom: 20px;
  display: flex;
  flex-direction: row;
  align-self: flex-start;
  width: fit-content;
  box-sizing: border-box;
}
.cart-screen .ellipse-16 {
  border-radius: 8px;
  margin: 4px 0;
  width: 16px;
  height: 16px;
}
.cart-screen .vector-13 {
  width: 24px;
  height: 24px;
}
.cart-screen .os-apple-dark-svgrepo-com-1 {
  margin: 0px 22px 0px 0;
  display: flex;
  width: 24px;
  height: 24px;
  box-sizing: border-box;
}
.cart-screen .apple-pay {
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: #000000;
}
.cart-screen .container-2 {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}
.cart-screen .group-1171276978 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-self: flex-start;
  width: 180px;
  box-sizing: border-box;
}
.cart-screen .group-1171276995 {
  margin: 0 20px 38px 20px;
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  width: fit-content;
  box-sizing: border-box;
}
.cart-screen .rectangle-24 {
  border-radius: 100px;
  background: #000000;
  position: absolute;
  left: 50%;
  bottom: 12px;
  translate: -50% 0;
  width: 134px;
  height: 5px;
}
.cart-screen .vector-21 {
  margin: 0 7.6px 6px 6.6px;
  width: 17px;
  height: 17px;
}
.cart-screen .home {
  overflow-wrap: break-word;
  font-family: 'Open Sans';
  font-weight: 700;
  font-size: 9px;
  letter-spacing: 0.4px;
  text-transform: uppercase;
  color: #202244;
}
.cart-screen .container-6 {
  margin-top: 2px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
}
.cart-screen .fill-1 {
  margin: 0 3.9px 5px 3.9px;
  width: 18px;
  height: 20px;
}
.cart-screen .my-courses {
  overflow-wrap: break-word;
  font-family: 'Open Sans';
  font-weight: 700;
  font-size: 9px;
  letter-spacing: 0.4px;
  text-transform: uppercase;
  color: #202244;
}
.cart-screen .container-4 {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
}
.cart-screen .container-3 {
  margin: 5px 0 4px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 101.5px;
  height: fit-content;
  box-sizing: border-box;
}
.cart-screen .huge-iconinterfaceoutlinehome-04 {
  width: 24px;
  height: 24px;
}
.cart-screen .group-1171276972 {
  border-radius: 23px;
  background: #F18231;
  position: relative;
  margin-right: 30.5px;
  display: flex;
  padding: 11px;
  width: 46px;
  height: 46px;
  box-sizing: border-box;
}
.cart-screen .huge-iconuseroutlineuser-circle {
  margin: 0 12.5px 5px 12.5px;
  width: 20px;
  height: 20px;
}
.cart-screen .transaction {
  overflow-wrap: break-word;
  font-family: 'Open Sans';
  font-weight: 700;
  font-size: 9px;
  letter-spacing: 0.4px;
  text-transform: uppercase;
  color: #202244;
}
.cart-screen .container-12 {
  margin: 5px 31.9px 4px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
}
.cart-screen .fill-11 {
  margin: 0 11.6px 5px 11.6px;
  width: 16px;
  height: 20px;
}
.cart-screen .profile {
  overflow-wrap: break-word;
  font-family: 'Open Sans';
  font-weight: 700;
  font-size: 9px;
  letter-spacing: 0.4px;
  text-transform: uppercase;
  color: #202244;
}
.cart-screen .container {
  margin: 5px 0 4px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
}
.cart-screen .container-8 {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}
.cart-screen .container-5 {
  box-shadow: 0px -3px 19.2px 0px rgba(45, 94, 100, 0.15);
  background: #FFFFFF;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 18px 25.4px 18px 24.4px;
  width: 100%;
  height: fit-content;
  box-sizing: border-box;
}
.cart-screen .group-1171276977 {
  position: relative;
  width: 100%;
  box-sizing: border-box;
}
.cart-screen .container-15 {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: fit-content;
  box-sizing: border-box;
}
.cart-screen .continue {
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 500;
  font-size: 16px;
  color: #FFFFFF;
}
.cart-screen .container-11 {
  box-shadow: 0px 7px 8.4px 0px rgba(241, 130, 49, 0.16);
  border-radius: 30px;
  background: #F18231;
  position: absolute;
  left: 20px;
  right: 20px;
  bottom: 106px;
  display: flex;
  padding: 17px 0.2px 17px 0;
  box-sizing: border-box;
}
.cart-screen {
  background: #FFFFFF;
  display: flex;
  padding-top: 16px;
  box-sizing: border-box;
}
